<%= render :partial => "admin/shared/stocks_navbar" %>

<div class="panel-body">
  <div class="row">
    <div class="col-sm-12">
      <%= form_tag @car_specification, :url => "/admin/vehicles/update", :method => "GET" do %>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <%= select_tag :vehicle_id, options_for_select([["Select", ""]] + @vehicles.all.map {|vehicle| [vehicle.carinfo, vehicle.id]} ), :class => "form-control" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div id="edit_car_specific">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).on("change", "#vehicle_id", function() {
    var vehicle_id = $(this).val();
    $.ajax({
      url: "/admin/car_specifications/" + vehicle_id + "/edit_car_specific",
      dataType: "Script",
      type: "GET"
    });
  });
</script>