<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Assign to Evaluator</h4>
      </div>
      <div class="modal-body">
        <div id="final_deal">
          dfadsf
          dsf
          dsf
          sdf
          dsfdffd
        </div>
      </div>
    </div>
  </div>
</div>