<div class='table-responsive'>
  <table class='table table-bordered table-striped'>
    <tr>
      <th>S.No</th>
      <th>Vehicle</th>
      <th>Offer</th>
      <th></th>
    </tr>
    <% if @cars.present? %>
      <% @cars.each_with_index do |vehicle, i| %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= vehicle.offer_price %></td>
          <td><%= vehicle.carinfo %></td>
          <td><%= link_to "Remove", remove_offer_admin_stock_path(:id => vehicle.id), :method => "PUT", :remote => true, :data => {:confirm => "Are you sure to remove?"} %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>