<%= render :partial => "admin/stocks/stocks_navbar" %>

<div class="panel-body">
  <div class="row">
    <div class="col-sm-6">
      <%= render :partial => "new_model" %>
    </div>

    <div class="col-sm-6">
      <%= render :partial => "new_varient" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  function load_all(obj) {
    alert(obj.value);
  }
</script>