<div class="box-main-contant">
<h1><span class="about-us">About Us</span></h1>


<div class="border-row"></div>

<div class="row">
<!-- side bar in contactus, aboutus, faqs ,etc -->
 <%= render :partial => "homes/internal_layouts" %>
  

   <div class="col-xs-6 col-sm-3 right-column-spacing"><p>Prestige Autoworld is one of the leading Authorised Certified Pre-Owned car retailer of Mahindra First Choice in NCR.

Mahindra First Choice Wheels Ltd is India's largest multi-brand pre-owned car company which believes in selling high quality pre-owned cars to its customers with hassle free documentation & car transfers.</p>

<p>As one of NCR’s largest auto retailer, we set higher standards. That means you can expect an unsurpassed shopping, buying and ownership experience.</p>

<p>Go4usedcars.com is a our virtual showroom that improves the online shopping experience and helps users find the best match on the Internet for their needs. Our mission is to be your ultimate online solution for buying and selling used cars.

Our cars are handpicked units carefully refurbished in State-of-the-art workshops by expert technicians.

Our mission is to be your ultimate online solution for buying and selling, certified used cars. Our site is designed to give you more control of the buying process and make finding a vehicle easier than ever before.

 </p>

 <p><b>We provide you with real information in real-time so you can make the best decision on your next vehicle purchase.</b></p>

 <p>The most comprehensive selection of buying and selling tips<br />

The most complete research and compare tools, including complete features, photos & videos.<br />

Vehicle pricing, including seller specials and dealer discounts<br />

Safety information and vehicle history reports<br />

Help with finance, insurance and warranty programs<br />

Complete customer satisfaction is a top priority<br />

Provides quality after sale support<br />



 </p>

 <p><b>As an authorised retailer for Mahindra First Choice we believe 'Trust & transparency' are key differentiators for us in this business.</b><p>

 <p>With years of experience, our dedicated sales staff are here to make your auto shopping experience fun, easy and financially

advantageous. Please utilize our various online resources and allow our excellent networking to put you in your ideal car today!</p>

 <div class="border-row"></div>

  </div>
</div>

</div>