<div class="col-xs-6 col-sm-2 left-paddings">
 <p></p>

<center>
  <a href="/homes/about_us?loc=gurgaon">Who we are</a> <br />
  <a href="/homes/contact_us?loc=gurgaon"> Contact Us</a> <br />
  <a href="/homes/faq?loc=gurgaon">FAQ&#39;s</a></center>

<p></p>
<div class="border-row"></div>


 	<h3>Contact Us</h3>

   <center> <p>Mahendra First Choice,<br />M/s Prestige Autoworld,<br />Plot.No.8,M.G.Road,<br />Gurgaon, Haryana-122002</p>

 <br />

    <p>Fax: +91-124-4362947,<br />Telephone Number:<br />+91-124-4363920/21,<br />Mobile:+91-98-1186-2121,<br />+91-99-100-400-22<br />Email:Prestigeworld@gmail.com<br />website:www.go4usedcars.com</p></center>	

<div class="border-row"></div>

<h3>24 Hr. Helpline	</h3>

<center> <p>+91-99100-40022</p></center><br /> 

<hr />

</div>