<% if @car_varients.present? %>
<p>Select Varient:</p>

<%= select_tag :varient_id, options_for_select([["- Select -", ""]] + @car_varients.map {|x| [x.name, x.id]}), :class => "selectstyle form-control" %>
<% end %>

<br/>