<h1><span class="about-us">Partner with Us</span></h1>
            <div class="border-row"></div>

  <div class="col-xs-6 width-inmobile">
  <br />
     <h4 style="text-decoration:none;">Together, we grow.</h4>
          
        
       <p>A promising partnership with us also means that you are meeting up with infinite possibilities and has innumerable benefits and advantages. <p>
       
       
          <h4 style="text-decoration:none">A partnership with Go4usedcars gives you:</h4>
            <ol class="no-float">
              
            <li>better commission rates,</li>
            <li>faster transactions,</li>
            <li>preferential treatment, including first choice of vehicle</li>
              </ol> 
              <br />
            



           
              
<form id="frmsignup" method="post" onsubmit="return validatesignup(this);">

  <h4 style="text-decoration:none;font-size:16px"><b>If you wish to work us please fill in your contact details,  Associate with us as</b></h4><br />
  <select id="utype" name="utype" class="form-control">
   <option value="select">-- Select --</option>
   <option value="Dealer">Dealer</option>
   <option value="Freelancer">Freelancer</option>
   <option value="Others">Others</option>
  </select>  <br />	
  
 
<input type="text" id="dealership" name="dealership" placeholder=" Dealership Name(for dealer)"  class="form-control" /><br />	
  

  <input type="text" id="txtname" name="txtname" placeholder="Name"  class="form-control"/> 
<br />	
 
  <input type="text" id="txtphone" name="txtphone" placeholder="Phone"  class="form-control"/> 
<br />	
  <input type="text" id="txtemail" name="txtemail"  placeholder="Email Id"  class="form-control"/>  
<br />	
  
 <textarea id="txtaddress" name="txtaddress" placeholder="Address " class="form-control"></textarea> <br />	
  <input type="submit" id="submitsignup" name="submitsignup" value="Submit" class="btn btn-warning" /> <br />	
  
  <?php
					   if(isset($_REQUEST['act']))
					   {
					    if($_REQUEST['act']=="saved"){echo "Your Request have been sent successfully";}
					   }
					  ?>
</form><br />	
</div>

                     <div class="col-xs-6" style="text-align:center">

        <img src="/assets/shake_prtner.jpg"  class="img-responsive" /></div>
    
      
  <div class="col-width">
           <h4 style="text-decoration:none; background:#ccc;padding:14px"><b>ASSOCIATES WITH US</b></h4>
   
            

       
        	<img src="/assets/jasanz.png" width="120" height="120" />
            <img src="/assets/fida.png" width="120" height="120" />
            <img src="/assets/mahindra_finance_logo.jpg" width="120" height="120" />
            <img src="/assets/carplus.jpg" width="110" height="110" />
            <img src="/assets/hdfc-logo.jpg" />
            <img src="/assets/mytvs.jpg" width="120" height="120" />
            <img src="/assets/carz.jpg" width="110" height="110" />	
           <img src="/assets/HDFC_10.jpg" width="120" height="120" />           
     
      
     </div>