<% @page_title = "Buy Cars - Go4 Used Cars" %>

<h1><span class="about-us text-testimonials">Buy Cars</span></h1>

<div class="border-row"></div>
<div class="row">
  <div class="col-xs-6 col-sm-2 left-paddings buycar-paddings "> 
    <%= render :partial => "car_search_menu" %>
  </div>

  <div class="col-xs-6 col-sm-3 buycar-width">
    <div id="search_result">
      <%= render :partial => "buy_car" %>
    </div>
<%= paginate @cars %>
  </div>
</div>
<%= render :partial => "modal_post_requirements" %>

<script>
  $(document).on("change", "#select_manuf", function() {
    var manufacturer_id = $(this).val();
    var location = $(this).data("loc");
    $.ajax({
      url: "/homes/load_model",
      dataType: "Script",
      type: "GET",
      data: {
        manufacturer_id: manufacturer_id,
        loc: location
      }
    });
  });
</script>

<script>
  function checkChecked() {
      var bodyType = false,
          fuelType = false;

      $('.fuel-type-checkbox').each(function() {
          if ($(this).is(":checked")) {
              bodyType = true;
          }
      });

      $('.body-type-checkbox').each(function() {
        if ($(this).is(":checked")) {
          fuelType = true
        };
      });
   
      if (bodyType == false || fuelType == false) {
        alert('Please select at least one checkbox');
        return false;
      } 
  }
</script>