<div class="box-main-contant">

  <h1><span class="about-us">Frequently Asked Questions</span></h1>

<div class="border-row"></div>

<div class="row">

<%= render :partial => "homes/internal_layouts" %>



<div class="col-xs-6 col-sm-3 right-column-spacing">

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
 
  <strong class = 'next-segment-head'><a href="" title="" >
    <img src="/assets/faqs.jpg" width="81" height="32" title="" alt=""/>
  </strong>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> What information do I need to gather before approaching Go4usedcars to buy a used car? </a> </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body"> Our store professionals are experts and are trained to guide you through the buying process. However we recommend that you consider the following factors before selecting the car of your dreams: Approximate budget. <br/>
        <br/>
        Vehicle usage (distance) <br/>
        Top 3/4 cars in the mind <br/>
        Primary vehicle utility (Work, College, Weekend travel, long distance outing etc) <br/>
        Brand preference <br/>
        Style preference <br/>
        <br/>
        This will only help us in serving you better by recommending the right cars that match your as well as your family's expectations. </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> What kind of a used car should I go for?</a> </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body"> <span>We recommend a vehicle that you and your family will enjoy and will feel a sense of pride in owning. A planned budget will go a long way in narrowing down your search for the right used car without putting a limitation on the brand. For example it is possible to choose among a Hyundai Santro, a Maruti WagonR , a Ford Ikon or even a Honda City within a single price range..</span></div>
    </div>
  </div>
    
  <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How Old is "Old"?</a> </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">Typically the engine life of a new car is 150,000 kms*. Assuming the average run of a car in Indian conditions to be approximately 12,000/- kms* per annum. So the year of registration and mileage both help you to get a fair idea on the actual age of a car.</div>
    </div>
  </div>
  
  <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading4">
          <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapseThree">What Justifies the price of buying a "Pre Owned Car"?</a> </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">Irrespective of usage, new cars undergo a significantly high rate of depreciation in the initial few years . This percentage goes down subsequently, which in turns justifies the decision to choose a used car. This also justifies why a low run pre owned car is significantly cheaper than the "new" version of the same car.</div>
    </div>
  </div>
  
  <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading5">
          <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapseThree">Why should one go for a certified used car?</a> </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">A certified used car gives you the assurance of a hassle-free ownership experience. With a 118 point quality inspection and subsequent refurbishment process, the cars are conditioned to give you only the best performance possible.</div>
    </div>
  </div>  
      
  <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading6">
          <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapseThree">Are there any additional measures/precautions that I need to take?</a> </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body"> There are some basic guidelines which we feel will go a long way in ensuring that you choose the right car for you and for your family. <br/>Visit the showroom preferably during daytime <br/>Insist on a test ride every time <br/>Check whether all features in the car are functioning correctly or not <br/>Check if all documentation is in place or not <br/>Spend time in evaluating all your options before choosing the car of your dreams</div>
          </div>
        </div>  
        
  <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading7">
          <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapseThree">What things should I check during vehicle inspection?</a> </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">It is our commitment to offer you only the best in quality of used cars. For complete peace of mind, we recommend that you check the following aspects before making the final decision to buy a used car from us.
                                    Look for signs of an accident, such as dents or new paint or chrome. Check the body for rust or fill. Look under the car to check for cracks, rusting or welding. <br/>
                                    Check the condition of the muffler, tailpipe and exhaust components. Look for signs of fluids leaking from the car, including oil, brake or transmission fluid. <br/>
                                    Lift the hood and check the condition of the belts and hoses. Check the battery to see if it is cracked. Pull out the dipstick to see the oil level, and whether it's dirty. Make sure the hood shuts properly. <br/>
                                    Check all parts and accessories such as lights, horn, mirrors, seatbelts, music system, heater and windows. Make sure they are all in working condition. Have a friend check the outside lights for you. Make sure doors open and close easily, and that handles and locks work well. Check the dimmer switch, headlights and windshield washer.</div>
          </div>
        </div>
        
  <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading8">
          <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapseThree">Are all your used-cars inspected?</a> </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">Yes. Each & every vehicle we sell passes through a stringent 118 point Certification Process from our qualified technicians. This comprehensive and detailed inspection also ensures that the vehicle is free from any flood or frame damage. In addition, we back every car with warranty and 24x7 roadside assistance.</div>
          </div>
        </div>
  
  <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading9">
          <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapseThree">What are my payment options?</a> </h4>
        </div>
        <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">You can pay total value in cash / pay order / demand draft / credit card / cheque. You can also avail loans on used cars from various financial institutions.</div>
          </div>
        </div>
        
  <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading10">
          <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapseThree">How do I contact someone at Go4usedcars?</a> </h4>
        </div>
        <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">To get an immediate answer to your question, reach us at corp_enquiry@mahindra.com or +91-9987102376. You can also visit your nearest Go4usedcars store. </div>
          </div>
        </div>
        
  <strong class = 'next-segment-head'><a name = 'applischool' id="applischool">Buyers</a> </strong>
  
  <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading11">
          <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapseThree">Does Go4usedcars charge any brokerage fees?</a> </h4>
        </div>
        <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">No. We do not charge any brokerage fee for matching buyers and sellers</div>
        </div>
      </div>  
      
  <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading12">
          <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapseThree">What if I do not find a car that meets my requirements?</a></h4>
        </div>
        <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">We recommend that you contact us and leave your requirements with our executive. We will try our best to find the perfect car that matches your search criteria.</div>
        </div>
      </div>
      
  <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading13">
          <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapseThree">Does Go4usedcars help me in getting finance for my purchase?</a></h4>
        </div>
        <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">Yes. Go4usedcars will help you in financing a car. Just visit a store near you and our sales executive will do the needful. You can avail finance from various finance companies. Also, you can apply online in "Finance" section.</div>
        </div>
      </div>
      
  <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading14">
          <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapseThree">Does Go4usedcars help me find Insurance for my purchase?</a></h4>
        </div>
        <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">Yes. <b> Go4usedcars</b> will help you in insuring a car. You can visit our store in your city; our sales executive will do 
              the needful. You can avail insurance from our all India preferred insurance companies. In fact, we will also help you in getting your car 
              insured.</div>
        </div>
      </div>      
      
  <strong class = 'next-segment-head'><a name = 'applischool' id="applischool">Sellers</a> </strong>
  
  <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading15">
          <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="collapseThree">Do you accept trade-ins?</a></h4>
        </div>
        <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">Yes. However once you sell your old car to <b> Go4usedcars</b>, you are under no obligation to buy a car from us.</div>
        </div>
      </div>          
  
  <div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading16">
    <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false" aria-controls="collapseThree">How can I get my car evaluated?</a></h4>
  </div>
  <div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body">You can either bring your car to a <b> Go4usedcars</b> outlet or ask us for a free evaluation at your doorstep. Our evaluator 
        will check the documents, inspect the car and might need to take a test 
        drive to arrive at the price of your car. Our final quotation will be 
        valid for 7days from the time of evaluation.</div>
  </div>
</div>

  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading17">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="collapseThree">Do I need an appointment for an evaluation to check my car's worth?</a></h4>
            </div>
            <div id="collapse17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">No appointment is necessary for evaluating your car. Just visit your nearest Mahindra First Choice Wheels Store. For doorstep evaluations, you need to contact us and we will fix up an appointment with you absolutely free. The evaluation process usually takes 15 to 20 minutes.</div>
            </div>
          </div>
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading18">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="collapseThree">How do you determine the value of my car?</a></h4>
            </div>
            <div id="collapse18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">First, we inspect the outer part of the vehicle for signs of previous body repair and frame or flood damage, paint and body for paint lines, overspray, body putty, dents and scratches. Then we check your car's interior, mileage, and age. Lastly, we test drive your car to determine its mechanical condition. We also check if all the documentation for the car is in order or not. Excessive mileage, ownership and wear and tear may lower your car's overall value and decrease its resale value.</div>
            </div>
          </div>
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading19">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="false" aria-controls="collapseThree">Will you explain how you evaluate my car?</a></h4>
            </div>
            <div id="collapse19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">If you have any questions about the evaluation of your car, our 
              executives are well trained to explain the entire evaluation process in 
              detail and the factors that impacted the worth of your old car.</div>
            </div>
          </div>
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading20">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse20" aria-expanded="false" aria-controls="collapseThree">What if car is hypothecated with finance company & I owe more on my car than the amount of your offer?</a></h4>
            </div>
            <div id="collapse20" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">If car is hypothecated with finance company, it can't be sold until full loan amount is paid back to said company. You need to collect Foreclosure Statement from finance company to know about the pay-off amount at the time of selling the car. Either you pay the pay-off amount or Mahindra First Choice Wheels will pay on your behalf &amp; balance amount of the car will be given to you against the delivery of the car along with relevant original documents. Also, Mahindra First Choice Wheels will hold a small amount for the NOC, which will be given to you against the NOC issued from finance company.<br />If your pay-off amount is more than our offer for your car, you will need to pay the difference to us (cash or demand draft in favor of 
              finance company) while we will pay the pay-off amount to the finance 
              company. Please note that you might be asked to visit to finance company
              office once along with our evaluator to close the loan as this is a 
              requirement by financier.</div>
            </div>
          </div>
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading21">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse21" aria-expanded="false" aria-controls="collapseThree">What happens to my car, once I sell it to Go4usedcars?</a></h4>
            </div>
            <div id="collapse21" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">As part of our promise to offer you complete peace of mind, we 
              ensure that your car goes through a standard procedure and ends up in 
              safe hands.<br />
              After purchasing the car from you, we refurbish it on a 118 point 
              checklist and get it in an immaculate condition before displaying in our
              outlet. While selling your vehicle, we also verify the background of 
              the buyer &amp; ensure that the ownership is transferred properly. Proof
              of transferred RC is kept in our records &amp; can be sent to you for 
              your reference on demand.</div>
            </div>
          </div>  
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading22">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse22" aria-expanded="false" aria-controls="collapseThree">Can I trade in my leased car?</a></h4>
            </div>
            <div id="collapse22" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">In most cases, you can trade in your leased vehicle in almost 
              the same way as any other financed vehicle. Please note that some 
              leasing companies will not allow you to sell the vehicle prior to the 
              expiration of the lease.</div>
            </div>
          </div>
          
  <strong class = 'next-segment-head'><a name = 'felici' id="felici"><font class="pagetitle">Finance </font></a></strong>
  
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading23">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse23" aria-expanded="false" aria-controls="collapseThree">What are the steps involved in availing a loan on used car?</a></h4>
            </div>
            <div id="collapse23" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body"><p>The following steps are involved in securing a used car loan:<br /></p>
            <ol>
              <li>Select the used car</li>
              <li>Fill up the application form</li>
              <li>Submit the documents to Mahindra First Choice</li>
              <li>Background investigation will be carried out by the financial institution</li>
              <li>Loan approval by financial institution</li>
              <li>Submission of PDC's &amp; post approval documents</li>
              <li>Disbursement of loan amount</li>
              <li>Delivery of car</li>
            </ol>
            </div>
            </div>
          </div>
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading24">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse24" aria-expanded="false" aria-controls="collapseThree">Who can avail used Car Loans?</a></h4>
            </div>
            <div id="collapse24" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body"><p>Any individual who satisfies one or more of the following criteria is eligible for a loan on   used cars. </p>
            <ol>
              <li>Salaried individuals in the age group of 21 to 60 years (at the end of the tenure)</li>
              <li>Self-employed individuals in the age group of 21 to 65 years (at the end of the tenure)</li>
              <li>Partnership Firms</li>
              <li>Public &amp; Private Ltd. companies</li>
              <li>HUFs and Trusts</li>
            </ol>
            </div>
            </div>
          </div>
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading25">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse25" aria-expanded="false" aria-controls="collapseThree">What documentation is required for loan on a used car?</a></h4>
            </div>
            <div id="collapse25" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
              <p>Having the following documents in order will go a long way in speeding up the loan approval process. </p>
            <ol>
              <li>Identity proof with photograph</li>
              <li>Address Proof</li>
              <li>Income related documents</li>
              <li>Latest Bank Account Statement</li>
              <li>Photographs</li>
            </ol>
            </div>
            </div>
          </div>
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading26">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse26" aria-expanded="false" aria-controls="collapseThree">Which cars can be financed?</a></h4>
            </div>
            <div id="collapse26" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">This depends on the model (year of manufacture) of the car. <b> Go4usedcars</b> will assist you in choosing a car which can be 
              financed.<br /> However, the final decision to grant a loan is at the discretion of the financing company.. 
              </div>
            </div>
          </div>
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading27">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse27" aria-expanded="false" aria-controls="collapseThree">How much finance can I avail on a used car?</a></h4>
            </div>
            <div id="collapse27" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">You can get up to 80% of the car value on the discretion of the financier.</div>
            </div>
          </div>  
  
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading28">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse28" aria-expanded="false" aria-controls="collapseThree">What are the loan tenure options?</a></h4>
            </div>
            <div id="collapse28" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">Pre - owned cars can be financed for 12 to 60 months</div>
            </div>
          </div>      
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading29">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse29" aria-expanded="false" aria-controls="collapseThree">How is the interest calculated?</a></h4>
            </div>
            <div id="collapse29" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">Interest is calculated on a monthly reducing balance basis</div>
            </div>
          </div>
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading30">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse30" aria-expanded="false" aria-controls="collapseThree">Do I have to pay any additional charges?</a></h4>
            </div>
            <div id="collapse30" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">Yes, all financial institutional charge a "Processing fee", which varies across companies.</div>
            </div>
          </div>  
          
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading31">
      <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse31" aria-expanded="false" aria-controls="collapseThree">What is the loan approval period?</a></h4>
    </div>
    <div id="collapse31" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">Loan approvals take approximately 72 hours from the time of submission of requisite documents.</div>
    </div>
    </div>    
    
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading32">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse32" aria-expanded="false" aria-controls="collapseThree">Who can be the co-applicants for the loan?</a></h4>
            </div>
            <div id="collapse32" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">Your spouse or any blood relative staying in the same residence can be a co-applicant. This is required in case the income of the applicant is not justifying the loan amount.</div>
            </div>
          </div>  
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading33">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse33" aria-expanded="false" aria-controls="collapseThree">Do I require any guarantor against the loan?</a></h4>
            </div>
            <div id="collapse33" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">No, it is not mandatory. However, a few financers do extend loan facility subject to the guarantor provided.</div>
            </div>
          </div>
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading34">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse34" aria-expanded="false" aria-controls="collapseThree">What is the Loan Repayment process?</a></h4>
            </div>
            <div id="collapse34" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">Loan is to be repaid through equal monthly installment (EMI's) either through post dated cheques (PDC's) or through ECS facility if available.</div>
            </div>
          </div>  
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading35">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse35" aria-expanded="false" aria-controls="collapseThree">Can I foreclose my loan before completion of full tenure?</a></h4>
            </div>
            <div id="collapse35" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">Yes, but only after completion of first 6 months. Foreclosure fee varies from 3-6% of outstanding principal.</div>
            </div>
          </div>
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading36">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse36" aria-expanded="false" aria-controls="collapseThree">Do I require any security against the loan?</a></h4>
            </div>
            <div id="collapse36" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <ol>
                  <li>Hypothecation on the vehicle</li>
                  <li>Noting of the hypothecation charges in the books of the RT</li>
                </ol>
                <p>&nbsp;</p>
              </div>
            </div>
          </div>
          
  <strong class = 'next-segment-head'><a name = 'felici' id="felici"><font class="pagetitle">Insurance</font></a></strong>
  
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading38">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse38" aria-expanded="false" aria-controls="collapseThree">Do I need to have auto Insurance?</a></h4>
            </div>
            <div id="collapse38" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">Yes, the Motor Vehicle Act states that every motor vehicle plying on the road has to be insured, with a Liability Only policy at the very least.        </div>
            </div>
          </div>      
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading39">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse39" aria-expanded="false" aria-controls="collapseThree">What is a cover note?</a></h4>
            </div>
            <div id="collapse39" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">A cover note is a temporary Insurance document establishing proof of Insurance with which you can register your vehicle. A cover note is valid for 60 days from the date of its issuance and is replaced by an Insurance policy.</div>
            </div>
          </div>    
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading40">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse40" aria-expanded="false" aria-controls="collapseThree">What are the different types of auto Insurance available?</a></h4>
            </div>
            <div id="collapse40" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body"><p>There are 2 types of covers available:<br /></p>
              <ol>
                <li>Liability Only cover – insures you against any legal liability following an accident involving your vehicle. It does not cover any damage to your vehicle.</li>
                <li>Package cover – Insures all liabilities, as per the Motor Vehicles Act, as well as damages caused to your vehicle.</li>
              </ol>
              </div>
            </div>
          </div>    
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading41">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse41" aria-expanded="false" aria-controls="collapseThree">What is covered under a Package/Comprehensive Policy ?</a></h4>
            </div>
            <div id="collapse41" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body"><p>Own Damage to the Insured vehicle caused by:-<br />
          </p>
          <ol>
            <li>Accident by External Means</li>
            <li>Fire, Explosion, Self Ignition and Lightning</li>
            <li>Transit by Road, Rail, Inland Waterway, Air, Lift</li>
            <li>Burglary, House breaking or Theft</li>
            <li>Terrorism, Riots, Strikes or Malicious Acts</li>
            <li>Earthquake, Flood, Storm, Landslide, Rockslide</li>
          </ol>
              </div>
            </div>
          </div>
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading42">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse42" aria-expanded="false" aria-controls="collapseThree">Third Party Liability:-</a></h4>
            </div>
            <div id="collapse42" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <ol>
                  <li>Injury or Death of Third Party</li>
                  <li>Property Damage (TPPD upto Rs. 7.5 Lacs)</li>
                </ol>
              </div>
            </div>
          </div>  
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading43">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse43" aria-expanded="false" aria-controls="collapseThree">Personal Accident:-</a></h4>
            </div>
            <div id="collapse43" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <ol>
                  <li>Personal Accident for Owner Driver (Sum Insured - Rs. 2 lacs)</li>
                </ol>
                <p>Also includes reimbursement of Towing Charges, upto Rs. 1500 for cars, Rs. 300 for two wheelers and Rs. 2500 for commercial vehicle or actuals, whichever is lower.<br />
                </p>

              </div>
            </div>
          </div>    
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading44">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse44" aria-expanded="false" aria-controls="collapseThree">What are the different classes of vehicles which can be insured by a Motor Insurance Company?</a></h4>
            </div>
            <div id="collapse44" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p>A Motor Insurance Company normally provides both Comprehensive and Liability Only Policies for all the below mentioned classes of vehicles:</p>
                <ol>
                  <li>Private Car</li>
                  <li>Two Wheelers</li>
                  <li>Commercial Vehicles</li>
                  <br />
                  <ol>
                    <li>Goods Carrying Vehicle (GCV)</li>
                    <li>Trailers</li>
                    <li>Passenger Carrying Vehicles (PCV)</li>
                    <li>Miscellaneous and Special Types of Vehicle</li>
                  </ol>
                </ol>
              </div>
            </div>
          </div>                                                                                                                                                                        
  
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading45">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse45" aria-expanded="false" aria-controls="collapseThree">What documents do I need to submit when buying Insurance for my vehicle?</a></h4>
            </div>
            <div id="collapse45" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p>The documents required by the Insurance Company to insure your vehicle or to renew the existing Insurance would differ from case to case. Generally, the Insurance company may ask for the filled-up and Signed Proposal form, cheque for Premium Amount, Copy of RC Book, Copy of existing insurance policy etc. In addition, the Insurance company may ask for other documents, as it deems fit.</p>
          <p>The Insurance Company may also want to inspect your vehicle before insuring it<strong> Please note insurance on a vehicle is not valid unless the required amount of premium is received and realized by the concerned Insurance Company and the cover note has been issued by the Insurance Company. In case you are insuring your vehicle with HDFC ERGO, please issue the cheque/ DD for Premium Amount in favor of HDFC ERGO GENERAL INSURANCE COMPANY LTD.</strong></p>
          <p>For the insurance to be valid, the concerned cheque/ DD would need to be cleared in bank, the required documents have to be submitted to HDFC ERGO, and the cover note should have been issued by HDFC ERGO.</p>
              </div>
            </div>
          </div>    
    
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading46">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse46" aria-expanded="false" aria-controls="collapseThree">Are there any specific exclusions under the Motor Policy?</a></h4>
            </div>
            <div id="collapse46" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p>Following are not covered in the Motor Policy:-</p>
                <ol>
                  <li>Wear & tear</li>
                  <li>Mechanical or Electrical Breakdown, failure</li>
                  <li>Depreciation, any consequential loss</li>
                  <li>Driving under the influence of Liquor or Drugs</li>
                  <li>Loss or damage attributable to War, mutiny, nuclear risks</li>
                  <li>Any contractual liability</li>
                </ol>
              </div>
            </div>
          </div>                    
  
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading48">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse48" aria-expanded="false" aria-controls="collapseThree">What is IDV (Insured's Declared Value)?</a></h4>
            </div>
            <div id="collapse48" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p>The Insured's Declared Value (IDV) of the vehicle will be deemed to be the 'SUM INSURED' and it will be fixed at the commencement of each policy period for each insured vehicle.</p>
                <p>The IDV of the vehicle is to be fixed on the basis of manufacturer's listed selling price of the brand and model as the vehicle proposed for insurance at the commencement of insurance /renewal and adjusted for depreciation (as per schedule specified below). The IDV of the said car(s) and / or accessories, if any, fitted to the vehicle but not included in the manufacturer's listed selling price of the vehicle is also Like-wise to be fixed.</p>
                <table align="center" style="border-collapse: collapse" border="1" cellspacing="0" bordercolor="#c0c0c0" cellpadding="3" width="80%">
                                    <tbody>
                                      <tr>
                                        <td width="65%"><b>AGE OF THE VEHICLE </b></td>
                                        <td width="35%"><b>% OF DEPRECIATION FOR FIXING IDV</b></td>
                                      </tr>
                                      <tr>
                                        <td>Not exceeding 6 months</td>
                                        <td>5%</td>
                                      </tr>
                                      <tr>
                                        <td>Exceeding 6 months but not exceeding 1 year</td>
                                        <td>15%</td>
                                      </tr>
                                      <tr>
                                        <td>Exceeding 1 year but not exceeding 2 years</td>
                                        <td>20%</td>
                                      </tr>
                                      <tr>
                                        <td>Exceeding 2 years but not exceeding 3 years</td>
                                        <td>30%</td>
                                      </tr>
                                      <tr>
                                        <td>Exceeding 3 years but not exceeding 4 years</td>
                                        <td>40%</td>
                                      </tr>
                                      <tr>
                                        <td>Exceeding 4 years but not exceeding 5 years</td>
                                        <td>50%</td>
                                      </tr>
                                    </tbody>
                                  </table>
              </div>
            </div>
          </div>  
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading49">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse49" aria-expanded="false" aria-controls="collapseThree">How is the premium calculated?</a></h4>
            </div>
            <div id="collapse49" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p>The premium is calculated basis the Make/Model of your vehicle, its Age, Place of Registration, Fuel Type and Insured Declared Value (IDV). </p>
            <p>The premium is also subject to certain deductions based on the Insured's Age and Occupation and the No Claim Bonus earned by the Insured during the policy period. You will need to submit documents or particulars to avail of these discounts.</p>
            <p>In case you want extended coverage - for Personal Accident, Electrical / Non Electrical Accessories, etc. - you may have to pay an additional premium for the same.</p>
              </div>
            </div>
          </div>
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading50">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse50" aria-expanded="false" aria-controls="collapseThree">What is a No Claim Bonus (NCB)?</a></h4>
            </div>
            <div id="collapse50" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p>Quite simply, it's a discount in the Own Damage premium payable when renewing your policy after a claim-free year. It is an incentive for driving carefully and avoiding accidents.</p>
            <table align="center" style="border-collapse: collapse" border="1" cellspacing="0" bordercolor="#c0c0c0" cellpadding="3" width="80%">
              <tbody>
                <tr>
                  <td width="65%"><b>All types of Vehicles</b></td>
                  <td width="35%"><b>%of Discount on Own Damage premium</b></td>
                </tr>
                <tr>
                  <td>No claim made or pending during the preceding full year of insurance</td>
                  <td>20%</td>
                </tr>
                <tr>
                  <td>No claim made or pending during the preceding 2 consecutive years of insurance</td>
                  <td>25%</td>
                </tr>
                <tr>
                  <td>No claim made or pending during the preceding 3 consecutive years of insurance</td>
                  <td>35%</td>
                </tr>
                <tr>
                  <td>No claim made or pending during the preceding 4 consecutive years of insurance</td>
                  <td>45%</td>
                </tr>
                <tr>
                  <td>No claim made or pending during the preceding 5 consecutive years of insurance</td>
                  <td>50%</td>
                </tr>
              </tbody>
            </table>
              </div>
            </div>
          </div>
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading51">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse51" aria-expanded="false" aria-controls="collapseThree">Can I transfer my No Claim Bonus Discount?</a></h4>
            </div>
            <div id="collapse51" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">In the event that you want to shift your insurance policy from any other company to HDFC ERGO, you can transfer the No Claim Bonus accrued on your previous policy. You can avail the full benefit as you would with your previous Insurer                
              </div>
            </div>
          </div>  
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading52">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse52" aria-expanded="false" aria-controls="collapseThree">Can I pay the premium for my auto Insurance in installments?</a></h4>
            </div>
            <div id="collapse52" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">No, the law (Insurance Act, 1938) does not permit an Insurance Company to accept auto Insurance premiums in installments.
              </div>
            </div>
          </div>
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading53">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse53" aria-expanded="false" aria-controls="collapseThree">During the policy period, if I add accessories like a music system in my vehicle, are they also covered?</a></h4>
            </div>
            <div id="collapse53" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">This is entirely at the discretion of the Insurance Company. You will need to make a written request to the Insurance Company, with a description of the accessories along with their value. You may also have to pay an additional premium.
              </div>
            </div>
          </div>
                                                          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading54">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse54" aria-expanded="false" aria-controls="collapseThree">What are the different types of Personal Accident Covers available for drivers and passengers?</a></h4>
            </div>
            <div id="collapse54" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">An owner-driver is provided Personal Accident Cover of up to Rs. 2 lacs (for cars)/Rs. 1 lac (for two-wheelers). This cover can also be extended to paid drivers and persons traveling in the vehicle, on a named as well as unnamed basis.
              </div>
            </div>
          </div>
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading55">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse55" aria-expanded="false" aria-controls="collapseThree">What if my policy is misplaced?</a></h4>
            </div>
            <div id="collapse55" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">Call HDFC Ergo toll-free helpline 1800-2-700-700 and they'll advise you how to proceed. You may have to pay a small fee for a duplicate policy.   </div>
            </div>
          </div>    
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading56">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse56" aria-expanded="false" aria-controls="collapseThree">How do I renew my policy?</a></h4>
            </div>
            <div id="collapse56" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">You can renew your policy through Mahindra First Choice Wheel's Store from where you bought your car / policy.</div>
            </div>
          </div>
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading57">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse57" aria-expanded="false" aria-controls="collapseThree">Do I need lodge an FIR in case of an accident?</a></h4>
            </div>
            <div id="collapse57" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p>You would need to lodge an FIR in the following circumstances:-</p>
            <ol>
              <li>Any third party personal injury or death due to an accident involving your vehicle.</li>
              <li>Any personal injury or death of a paid driver.</li>
              <li>Any personal injury or death of an owner-driver.</li>
              <li>Any personal injury or death of a passenger.</li>
              <li>Any third party property damage.</li>
              <li>Theft of the entire vehicle.</li>
              <li>Theft of accessories, stereo-recorders, other vehicle parts.</li>
              <li>Any loss or damage to the vehicle by miscreants, rioters, terrorists, arsonists, etc.</li>
            </ol>
              </div>
            </div>
          </div>  
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading58">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse58" aria-expanded="false" aria-controls="collapseThree">What documents need to be submitted when I make a claim?</a></h4>
            </div>
            <div id="collapse58" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p>You will need to submit a claim form along with the following:</p>
            <ol>
              <li>A copy of the vehicle's registration book.</li>
              <li>A copy of the driving license of the person driving the vehicle at the time of the accident.</li>
              <li>An estimate of the repairs.</li>
              <li>A copy of the police FIR/ panchnama in case of theft or any third party personal injury/death or property damage.</li>
              <li>If the vehicle is declared a total loss, either due to an accident or theft, you will also have to provide the following documents - RTO transfer papers, original RC book, original Insurance policy, the vehicle's original keys, a no objection certificate from you for transfer of the vehicle, a letter of indemnity on judicial stamp paper and a letter of subrogation on judicial stamp paper.</li>
              <li>Any other documents asked for by the Insurance Company.</li>
            </ol>
              </div>
            </div>
          </div>
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading60">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse60" aria-expanded="false" aria-controls="collapseThree">What is meant by Total Loss?</a></h4>
            </div>
            <div id="collapse60" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">Total Loss generally refers to accident damage to your vehicle where the cost of repairs amounts to more than 75% of the IDV on your policy.        </div>
            </div>
          </div>
          
  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading61">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse61" aria-expanded="false" aria-controls="collapseThree">DISCLAIMER :</a></h4>
            </div>
            <div id="collapse61" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p>Kindly note that the text matter mentioned above is only a general guideline on Motor Insurance. For specific details please contact your Insurance Advisor. </p>
            <p>Mahindra First Choice Wheels Ltd does not accept any liability for any loss, damage etc. that may occur on account of actions taken based on the text matter given above. Since these are general guidelines Mahindra First Choice Wheels Ltd does not guarantee the correctness of the contents </p>
              </div>
            </div>
          </div>  
          
</div>



</div>