<h1><span class="about-us">Frequently Asked Questions</span></h1>

<div class="border-row"></div>
<div class="row">
  <div class="col-xs-6 col-sm-2"> <p>
    <center>
      <a href="/home/about_us">Who we are</a> <br />
  <a href="/home/contact_us1"> Contact Us</a> <br />
<a href="/home/faqs">FAQ&#39;s</a></center>
    </center></p>
 <div class="border-row"></div>
 	<h3>Contact Us</h3>
   <center> <p>Mahendra First Choice,<br />M/s Prestige Autoworld,<br />Plot.No.8,M.G.Road,<br />Gurgaon, Haryana-122002</p>
 <br />
    <p>Fax: +91-124-4362947,<br />Telephone Number:<br />+91-124-4363920/21,<br />Mobile:+91-98-1186-2121,<br />+91-99-100-400-22<br />Email:Prestigeworld@gmail.com<br />website:www.go4usedcars.com</p></center>	
<div class="border-row"></div>
<h3>24 Hr. Helpline	</h3>
<center> <p>+91-981186-2121</p></center><br /> <div class="border-row"></div>
  </div>
  <div class="col-xs-6 col-sm-3"><p>What information do I need to gather before approaching Go4usedcars to buy a used car?<br /><br />

What kind of a used car should I go for?<br /><br />

How Old is “Old”?<br /><br />

What Justifies the price of buying a “Pre Owned Car”?<br /><br />

Why should one go for a certified used car?<br />
<br />
Are there any additional measures/precautions that I need to take?<br /><br />

What things should I check during vehicle inspection?<br /><br />

Are all your used-cars inspected?<br /><br />

What are my payment options?<br /><br />

How do I contact someone at Go4usedcars?<br /><br /></p>

 <div class="border-row"></div>
 
   
  
  <h1 style="margin-left:50px; margin-bottom:35px;">Buyers</h1>
  
<p style="margin-left:50px; margin-bottom:35px; line-height:32px;" >+Does Go4usedcars charge any brokerage fees?<br />
What if I do not find a car that meets my requirements?<br />
Does Go4usedcars help me in getting finance for my purchase?<br />
Does Go4usedcars help me find Insurance for my purchase?<br />
</p>

<h1 style="margin-left:50px; margin-bottom:35px;">Sellers</h1>
  
<p style="margin-left:50px; margin-bottom:35px; line-height:32px;"  >+Do you accept trade-ins?<br />
How can I get my car evaluated?<br />
Do I need an appointment for an evaluation to check my car’s worth?<br />
How do you determine the value of my car?<br />
Will you explain how you evaluate my car?<br />
What if car is hypothecated with finance company & I owe more on my car than the amount of your offer?<br />
What happens to my car, once I sell it to Go4usedcars?<br />
Can I trade in my leased car?<br />
 </p> 
  </div>  
</div>
<div class="border-row"></div>