<!DOCTYPE html >
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Go4Used Cars</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/css/style.css" />
<link rel="stylesheet" href="/assets/css/bootstrap-responsive.css">
<link rel="shortcut icon" href="assets/logo.png" type="image/x-icon" >
</head>

<body>	
<div class="landing_logo" >
	<img src="assets/front_page.png"  class="home-image" draggable="false" >
	<a href="/homes/home?loc=gurgaon"><img src="assets/new-delhi.png" class="delhi" title="click here for Delhi" draggable="false"  /></a>
	<a href="/homes/home?loc=bangalore"><img src="assets/bangalore.png" class="bangalore" title="Click here for Bangalore"  draggable="false"/></a>	
</div>
</body>
</html>