<% @page_title = "Insurance - Go4 Used Cars" %>


<h1><span class="about-us">Insurance</span></h1>

<div class="border-row"></div>
<div class="row">
  <div class="col-xs-6 col-sm-2 left-paddings "> <p style="padding-top:20px; "><center><img src="/assets/bajaj.png" class="img-responsive" /> </center></p>
  <div class="border-row"></div>
  
   <center> <p  style="padding-top:20px;"><img src="/assets/hdfcerc.png" class="img-responsive"  /></p></center><br /> <div class="border-row"></div>
  </div>
  <div class="col-xs-6 col-sm-3 about-us-justify"><p>Your car insurance policy is the most important document in your vehicle. Millions of car owners across India trust Bajaj Allianz to insure their car. Along with comprehensive coverage against physical damage, bodily injury and cover againts third-party liability, your motor insurance brings to you confidence and peace of mind. All this is backed by our superior claims servicing capability and fast settlement record for vehicles insured by us.</p><br />
<p>
Cashless settlement in over 1500 preferred workshops<br />
Hassle free claim settlement<br />
Quick and easy online purchase process<br />
24x7 claims support</p><br />
<p>Secure your prized vehicles with the HDFC ERGO Private Car Insurance Package Policy. You can avail a host of discounts and cashless claims. Here are some of the features of the policy:</p><br />
<p>
Cashless Claim Service: Cashless Claim Service over 1600+ authorized network of garages across India.
Discounts: Benefit from a range of discounts offered on the HDFC ERGO Private Cars Insurance policy, such as Automobile Association Discount and discounts based on age and profession.</p><br />

 </p>

 <p style="padding-bottom:0px;"><b>Speak to our insurance expert cell no :</b> 9650006200 <br />

<b>Email :</b> anuj@prestigeworld.in<hr /> 

 </p>
 
<br />
 
  </div>
</div>