<% @page_title = "Car-Offer" %>

<h1 ><span class="about-us">Car Offer</span></h1>


<div class="form-group"></div>

<% @offers.each do |offer| %>
<div class="row car-block">
  <div class="col-sm-4">

    <div class="img-responsive">
      <%= image_tag offer.image, height: "150", width: "200" %>
    </div>
  </div>
  

  <div class="col-sm-4">
    <%= offer.carinfo %>
  </div>

  <div class="col-sm-4">
    <%= offer.offer_price %>
  </div>
</div>
<% end %>

<style>
  .car-block {
    display: block;
    border-top: 1px solid #CCC;
    padding: 5px;
  }
</style>