<% @page_title = "Car-Offer" %>

<h1 ><span class="about-us">Car Offer</span></h1>

<div class="container back-color-offer">
<div class="form-group"></div>

<% if @offers.present? %>
  <% @offers.each do |offer| %>
    <%= link_to car_description_home_path(offer.id, :loc => params[:loc]), :class => "offer-link" do %>
    <div class="row car-block">
      <div class="col-sm-4">

        <div class="img-responsive">
          <%= image_tag offer.image, height: "120", width: "120" %>
        </div>
      </div>
      

      <div class="col-sm-4">
        <%= offer.carinfo %>
      </div>

      <div class="col-sm-4">
        <%= offer.offer_price.capitalize %>
      </div>
    </div>
    <% end %>
  <% end %>
<% else %>
  <div class="row car-block">
    <div class="col-sm-4">
      <p>We will come with flat offer soon.</p>
    </div>
  </div>
<% end %>
</div>