<h1 style="margin-left:300px;"><span class="about-us">testimonial</span></h1>





<div class="border-row"></div>



  <div class="row">

  <div class="col-xs-7" style="padding-left:50px;margin-top:25px;">              

           

          <img src="/assets/anthony.jpg" class="img-responsive" />

            

 

 </div>

  

  <div class="col-xs-5" style="padding-left:25px;margin-top:25px;">

 		  <a href="/assets/anthony_big.jpg" target="_blank"><img src="/assets/anthony_feedback.jpg" class="img-responsive" /></a>

  </div>

</div>

<div class="row">

<div class="col-xs-7" style="padding-left:50px;margin-top:25px; ">              

           

            <img src="/assets/binu.png" class="img-responsive" />

            

 

 </div>

  

  <div class="col-xs-5" style="padding-left:25px; margin-top:25px;">

 

 		 <a href="/assets/binu_big.jpg"target="_blank"><img src="/assets/binu_feedback.jpg"  class="img-responsive" /></a>

  </div>

  </div>

  <div class="row">

  <div class="col-xs-7" style="padding-left:50px;margin-top:25px; ">              

           

            <img src="/assets/himansi.jpg" class="img-responsive" />

            

 

 </div>

  

  <div class="col-xs-5" style="padding-left:25px; margin-top:25px;">

 

 		 <a href="/assets/himanshi_big.jpg" target="_blank"><img src="/assets/himanshi_feedback.jpg"  class="img-responsive" /></a>

  </div>

  </div>

  <div class="row">

  <div class="col-xs-7" style="padding-left:50px;margin-top:25px; ">              

           

            <img src="/assets/prashant_rana.jpg"  class="img-responsive" />

            

 

 </div>

  

  <div class="col-xs-5" style="padding-left:25px; margin-top:25px;">

 

 		 <a  href="/assets/rana_big.jpg" target="_blank"><img src="/assets/rana_feedback.jpg"  class="img-responsive" /></a>

  </div>

  </div>

  <div class="row">

  <div class="col-xs-7" style="padding-left:50px;margin-top:25px; ">              

           

            <img src="/assets/rohit_mani.jpg"  class="img-responsive" />

            

 

 </div>

  

  <div class="col-xs-5" style="padding-left:25px; margin-top:25px;">

 

 		 <a  href="/assets/rohit_big.jpg" target="_blank"><img  src="/assets/rohit_mani_feedback.jpg"   class="img-responsive" /></a>

  </div>

</div>





<div class="row">

  
<h1 style="text-transform:capitalize; background-color:#ccc; text-indent:20px; ">Submit your Testimonial</h1>
<div class="col-md-4" style="margin-left:50px;">



 <%#= render :partial => "home/form"%>


  
    

  
</div>

</div>			
		
                
				
				
   



