<div class="form-group">
  <div class="row">
    <div class="col-sm-12">
     <div class="form-group">
        <%= link_to "Add New Vehicle", new_dealer_vehicle_path, :class => "btn btn-md btn-warning" %>
     </div>
      <%= render :partial => "dealer_vehicles" %>
    </div>
  </div>
</div>