<td>
  <b>Name:</b> <%= s.car_evaluation.evaluator %> <br/>
  <b>Date: </b> <%= s.car_evaluation.updated_at.strftime("%Y-%m-%d") %> <br/>
  <b>Remarks: </b> <i class="glyphicon glyphicon-comment text-warning"></i> <%= s.car_evaluation.remarks%> <br/>
</td>