<%= render :partial=>"/admin/shared/dealers_navbar" %>

<div class="form-group">
  <div class="row">
    <div class="col-sm-12">
      <%= render :partial => "dealer_vehicles" %>
    </div>
  </div>
</div>