@charset "utf-8";
/* CSS Document */
/*landing page logo*/
body { margin:0; padding:0; border:0; }
.landing_logo { margin-left:200px; max-width:812px; width:100%; margin:0px auto; height:auto; position:relative; }
html body .home-image { margin-left:0px; width:100%; }
.delhi { position:absolute; top:450px; right:990px; opacity:0.5; }
.bangalore { position:absolute; top:450px; right:110px; opacity:0.5; }
.delhi:hover, .bangalore:hover { opacity:0.9; cursor:pointer; }
 img { color:#03F;}
.bredcrumb-text { color:#F90; float:right; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:18px; }
.opening-text { color:#F90; font-family:Arial, Helvetica, sans-serif; }
.skype-color { color:#09F; }
.skype-color:hover { color:#fff; cursor:pointer;}

div .ul-design { list-style-type:none; float:right; }

.menu-padding { padding:5px; }
.menu-padding i { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }

div table { float:right; }
.sliderInner .mcBox { width:100% !important; }
.font-size { font-size:22px; }
.img-align { vertical-align:middle; position:relative; left:50px; color:#FC0 }
.breadcrumb-nav { list-style:none; }
.breadcrumb>li { display:inline-block }
.breadcrumb>li+li:before { padding:0 5px; color:#fff; content:"" }
.breadcrumb>.active { color:#fff }
/*slider starting here*/
#sliderFrame, #sliderFrame div { box-sizing: content-box; }
#slider, #slider div.sliderInner { width:100%; height:430px;/* Must be the same size as the slider images */ }
#slider { background:#fff url(loading.gif) no-repeat 50% 50%; margin:0 auto; /*center-aligned*/ transform: translate3d(0, 0, 0); box-shadow: 0px 1px 5px #999999; }
/* image wrapper */
#slider a.imgLink, #slider div.video { z-index:9999; position:absolute; top:0px; left:0px; border:0; padding:0; margin:0; width:100%; height:100%; }
#slider .video { background:transparent url(video.png) no-repeat 50% 50%; }
/* Caption styles */
#slider div.mc-caption-bg, #slider div.mc-caption-bg2 { position:absolute; width:100%; height:auto; padding:10px 0;/* 10px will increase the height.*/ left:0px; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/ bottom:0px;/*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/ z-index:3; overflow:hidden; font-size: 0; }
#slider div.mc-caption-bg { /* NOTE: Its opacity is to be set through the sliderOptions.captionOpacity setting in the js-image-slider.js file.*/ background:Black;/* or any other colors such as White, or: background:none; */ }
#slider div.mc-caption-bg2 { background:none; }
#slider div.mc-caption { font: bold 14px/20px Arial; color:#EEE; z-index:4; text-align:center; background:none; }
#slider div.mc-caption a { color:#FB0; }
#slider div.mc-caption a:hover { color:#DA0; }
/* ------ built-in navigation bullets wrapper ------*/
/* Note: check themes\2\js-image-slider.css to see how to hide nav bullets */
#slider div.navBulletsWrapper { top:400px;/* Its position is relative to the #slider */ text-align:center; background:none; position:relative; z-index:999; }
/* each bullet */
#slider div.navBulletsWrapper div { width:11px; height:11px; font-size:0; color:red;/*hide the index number in the bullet element*/ background:transparent url(../images/bullet.png) no-repeat 0 0; display:inline-block; *display:inline;
zoom:1; overflow:hidden; cursor:pointer; margin:0 6px;/* set distance between each bullet*/ }
#slider div.navBulletsWrapper div.active { background-position:0 -11px; }
/* --------- Others ------- */
#slider div.loading { width:100%; height:100%; background:transparent url(loading.gif) no-repeat 50% 50%; filter: alpha(opacity=60); opacity:0.6; position:absolute; left:0; top:0; z-index:9; }
#slider img, #slider>b, #slider a>b { position:absolute; border:none; display:none; }
#slider div.sliderI nner { overflow:hidden; -webkit-transform: rotate(0.000001deg);/* fixed the Chrome not crop border-radius bug*/ position:absolute; top:0; left:0; }
#slider>a, #slider video, #slider audio { display:none; }
.home_heading { clear:both; }
.home_heading h2 { padding-top:35px; padding-bottom:20px; padding-left:15px; text-transform:uppercase; margin-bottom:-20px; text-align:center; }
/* Responsive slide starts */
.clientslide_carousel { padding:0px; margin:0px; }
.clientslide_content { width:960px; height:auto; margin:0px auto; clear:both; margin-left:-5px; }
.clientslide_carousel li { background-color:#fcfcfc; width:202px; height:200px; float:left; border:1px dotted #d5d5d5; margin:0px 18px 0px 20px; position:relative; list-style:none; text-align:center; }
.clientslide_carousel li img { border:0px; }
.clientslide_carousel li:hover { cursor:pointer; }
.clientslide_carousel li:hover > .portplus, .clientslide_carousel li:hover > .portpost, .portoverlay:hover > .portplus, .portoverlay:hover > .portpost { display:block; }
.portplus { height:32px; width:32px; position:absolute; top:0px; left:50%; background-color:rgba(58, 58, 58, .5); margin:60px 0px 0px -32px; display:none; -webkit-transition: opacity 0.3s ease-in-out; -moz-transition: opacity 0.3s ease-in-out; -o-transition: opacity 0.3s ease-in-out; transition: opacity 0.3s ease-in-out; }
.portpost { height:32px; width:32px; position:absolute; top:0px; left:50%; margin:60px 0px 0px 0px; background-color:rgba(58, 58, 58, .5); display:none; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.portplus img, .portpost img { width:32px !important; height:32px !important; border:0px; }
.clientslide_carousel li img { width: 202px; float:left; padding:0px; margin:0px; margin-bottom:10px; height:auto; display:block; }
.clientslide_carousel li h5 { font-size:14px; margin-top:5px; font-weight:bold; color:#898888; }
.clientslide_carousel li .categorie { font-size:11px; line-height:20px; color:#898888; font-style:italic; font-weight:normal; text-align:center; }
.portplus:hover, .portpost:hover { background-color:rgba(58, 58, 58, 1); }
.jcarousel-container { margin: 0px -20px 20px 0px; max-width: 100%; padding: 0; }
.jcarousel-clip { overflow: hidden; width: 100%; }
.jcarousel-item { margin: 0; width: 180px; }
.jcarousel-next, .jcarousel-prev { cursor: pointer; height: 19px; position: absolute; right: 30px; top: -74px; width: 19px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.jcarousel-next { background-image:url(../images/small_arrow_right.png); background-repeat: no-repeat; background-color: #848484; }
.jcarousel-prev { right: 50px; background-image: url(../images/small_arrow_left.png); background-repeat: no-repeat; background-color: #848484; }
/* // Responsive slide */
/* Service Responsive slide starts */
#service_slide .clientslide_carousel { padding:0px; margin:0px; margin:0px 40px; }
#service_slide .clientslide_content { width:928px; height:auto; margin:0px auto; clear:both; margin-left:-5px; }
#service_slide .clientslide_carousel li { float:left; background-color:transparent; border:transparent; width:202px; height:200px; margin-right:20px; margin:0px 18px 0px 20px; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=50); -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; position:relative; list-style:none; text-align:center; margin-top:-10px; }
#service_slide .clientslide_carousel li img { border:0px; }
#service_slide .clientslide_carousel li:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; opacity: 1; cursor:pointer; }
#service_slide .clientslide_carousel li:hover > .portplus, #service_slide .clientslide_carousel li:hover > .portpost, .portoverlay:hover > .portplus, .portoverlay:hover > .portpost { display:block; }
#service_slide .portplus { height:32px; width:32px; position:absolute; top:0px; left:50%; background-color:rgba(58, 58, 58, .5); margin:60px 0px 0px -32px; display:none; -webkit-transition: opacity 0.3s ease-in-out; -moz-transition: opacity 0.3s ease-in-out; -o-transition: opacity 0.3s ease-in-out; transition: opacity 0.3s ease-in-out; }
#service_slide .portpost { height:32px; width:32px; position:absolute; top:0px; left:50%; margin:60px 0px 0px 0px; background-color:rgba(58, 58, 58, .5); display:none; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
#service_slide .portplus img, #service_slide .portpost img { width:32px !important; height:32px !important; border:0px; }
#service_slide .clientslide_carousel li img { width: 202px; float:left; padding:0px; margin:0px; height:auto; display:block; }
/* Responsive slide starts */	
clientslide_content { width:700px; margin-left:-20px; }
.clientslide_carousel li { margin-right:4px; }
.jcarousel-next, .jcarousel-prev { margin-top:-2px; }
/* Homepage service slide */
#service_slide .clientslide_content { width:700px; margin-left:-20px; }
#service_slide .jcarousel-next, #service_slide .jcarousel-prev { margin-top:-5px; }
/* // Homepage service slide */
.box_list h3 { margin-left:25px; }
.home_heading h2 { padding-left:0px; }
.special { padding-left:0; }
/* home ends */
.carousel-center { vertical-align:central; padding-left:20px; padding-top:25px; }
.carousel-center a img { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }
.carousel-center h2 { text-align:	center; padding-bottom:20px; }
.sli-padding { padding:15px; padding-bottom:20px; }
hr { color:#999; }
.img-text1 { position:absolute; top:1000px; left:330px; font-weight:bold; font-size:18px; font-family:Arial, Helvetica, sans-serif; text-align:center; text-justify:auto; color:#fff; }
.img-text1:hover { visibility:visible; }
.home-text { margin-top:20px; background-color:#FF8040; color:#fff; font-size:16px; line-height:26px; }
h3 { text-align:center; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; }
h4 { text-decoration:underline; }
.home-bottom-box { color:#000; }
h1 { color:#CCC; }
ol { list-style-type:none; }
ol>li { text-align:justify; }
.menu-color { background-color:#000; color:#fff; padding:10px; text-align:center; }
.menu-align { text-align:center; }
.box-content { display: inline-block; width: 250px; }
.border-row { border-bottom: 1px solid #ccc; padding:10px; }
.left { border-right: 1px solid #ccc; }
.about-us { color:#000; font-weight: bold; padding-left:15px; text-shadow: 3px 2px #999; text-transform: capitalize; text-align:center; }
.color-text { color:#F90; }
.btn1:active { padding: 7px 11px; font-size:23; }
.inner-addon { position: relative; }
/* style icon */
.inner-addon .fa { position: absolute; padding: 10px; pointer-events: none; }
/* align icon */
.left-addon .fa { left:  0px; }
.right-addon .fa { right: 0px; }
/* add padding  */
.left-addon input, .left-addon textarea, .left-addon password { padding-left:  30px; }
.right-addon input, .left-addon textarea, .left-addon password { padding-right: 30px; }
.img-with-text { font-size: 45px; font-weight: bold; color: #fff; -moz-animation: fadeInRight 0.8s ease-in 1.3s backwards; -webkit-animation: fadeInRight 0.8s ease-in 1s backwards; animation: fadeInRight 0.8s ease-in 1s backwards; z-index:9; position:relative; top:-225px; text-align:center; -webkit-transition: all 2s; }
iframe { width:900px; height:425px; }
#pull { display: none; }
.social-top { margin-right: -6px; }
.search-responsive { margin-top:-9px; width: 103%; }
.responsive-col { }
/********************************
 * generic als elements styling
 ********************************/
.als-container { position: relative; width: 100%; margin: 0px auto; }
.als-viewport { position: relative; overflow: hidden; margin: 0px auto; }
.als-wrapper { position: relative; list-style: none; left: 418px; }
.als-item { position: relative; display: block; text-align: center; cursor: pointer; float: left; }
.als-prev, .als-next { position: absolute; cursor: pointer; clear: both; }
/**************************
 * specific als elements
 * styling for #lista1
 **************************/
#lista1 { margin: 60px auto 14px auto; }
#lista1 .als-item { margin: 10px 30px; min-height: 112px; min-width: 128px; }
#lista1 .als-item img { position: relative; display: block; vertical-align: middle; margin-bottom: 8px; }
#lista1 .als-prev, #lista1 .als-next { top: 10px; width: 15px; height: 22px; }
#lista1 .als-prev { left: 128px; }
#lista1 .als-next { right: 100px; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block }
.font-size-sellcar { border-radius: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 27px; text-align: center; }
.left-paddings { font-size: 12px; margin-left: 17px; padding-right:0px !important; text-align:center; }
.search-img-responsive { height: 28px; margin-top: -38px; width: 72px; display:none; }
.search-responsive { }
.logo-responsive2 { margin-left:  126px; }
.about-go {margin-bottom: 35px; }
.paragraph { color: #333333; text-transform:uppercase; font-family: sans-serif; font-size: 14px; }
.buycar-paddings { }
.buycar-width { }
.join-align { margin-left: 130px; }
.btn1 { display:inline-block; padding:8px 12px; margin-bottom:0; font-size:20px; font-weight:bold; line-height:1.42857143; text-align:center; white-space:nowrap; vertical-align:middle; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; background-image:none; border:1px solid transparent; border-radius:4px }


div ol .no-float{float:right;}

.col-width{width:100%; clear:both; padding:10px; text-align: center;}

.col-width img{padding:10px}

.col-md-6 .emi-img{max-width: 328px;
max-height: 500px;
text-align: center;
float: right; opacity:0.7;transition:all 0.8s ease-out;}
.col-md-6 .emi-img:hover{opacity:1.5;cursor:pointer;transition:all 0.8s ease-out;}






/*!
 * Social Buttons for Twitter Bootstrap v1.0.0
 *
 * Copyright 2013 Adam Neumann
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 */
.btn-facebook { color: #000; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #2b4b90;  *background-color: #133783;
background-image: -moz-linear-gradient(top, #3b5998, #133783); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783)); background-image: -webkit-linear-gradient(top, #3b5998, #133783); background-image: -o-linear-gradient(top, #3b5998, #133783); background-image: linear-gradient(to bottom, #3b5998, #133783); background-repeat: repeat-x; border-color: #133783 #133783 #091b40; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .btn-facebook.disabled, .btn-facebook[disabled] { color: #ffffff; background-color: #133783;  *background-color: #102e6d;}
.btn-facebook:active, .btn-facebook.active { background-color: #0d2456 \9; }
.btn-twitter { color: #000; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #1c95d0;  *background-color: #0271bf;
background-image: -moz-linear-gradient(top, #2daddc, #0271bf); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2daddc), to(#0271bf)); background-image: -webkit-linear-gradient(top, #2daddc, #0271bf); background-image: -o-linear-gradient(top, #2daddc, #0271bf); background-image: linear-gradient(to bottom, #2daddc, #0271bf); background-repeat: repeat-x; border-color: #0271bf #0271bf #014473; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2daddc', endColorstr='#ff0271bf', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active, .btn-twitter.disabled, .btn-twitter[disabled] { color: #fff; background-color: #0271bf;  *background-color: #0262a6;}
.btn-twitter:active, .btn-twitter.active { background-color: #01538d \9; }
.btn-github { color: #000000; text-shadow: 0 0.7px 0 rgba(0, 0, 0, 0.1); background-color: #f2f2f2;  *background-color: #e6e6e6;
background-image: -moz-linear-gradient(top, #fafafa, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #fafafa, #e6e6e6); background-image: -o-linear-gradient(top, #fafafa, #e6e6e6); background-image: linear-gradient(to bottom, #fafafa, #e6e6e6); background-repeat: repeat-x; border-color: #e6e6e6 #e6e6e6 #c0c0c0; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffe6e6e6', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-github:hover, .btn-github:focus, .btn-github:active, .btn-github.active, .btn-github.disabled, .btn-github[disabled] { color: #fff; background-color: #e6e6e6;  *background-color: #d9d9d9;}
.btn-github:active, .btn-github.active { background-color: #cdcdcd \9; }
.btn-pinterest { color: #000; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #c51e25;  *background-color: #ab171e;
background-image: -moz-linear-gradient(top, #d62229, #ab171e); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d62229), to(#ab171e)); background-image: -webkit-linear-gradient(top, #d62229, #ab171e); background-image: -o-linear-gradient(top, #d62229, #ab171e); background-image: linear-gradient(to bottom, #d62229, #ab171e); background-repeat: repeat-x; border-color: #ab171e #ab171e #680e12; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd62229', endColorstr='#ffab171e', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-pinterest:hover, .btn-pinterest:focus, .btn-pinterest:active, .btn-pinterest.active, .btn-pinterest.disabled, .btn-pinterest[disabled] { color: #ffffff; background-color: #ab171e;  *background-color: #95141a;}
.btn-pinterest:active, .btn-pinterest.active { background-color: #7e1116 \9; }
.btn-linkedin { color: #000; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #60a9ce;  *background-color: #4393bb;
background-image: -moz-linear-gradient(top, #73b8db, #4393bb); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#73b8db), to(#4393bb)); background-image: -webkit-linear-gradient(top, #73b8db, #4393bb); background-image: -o-linear-gradient(top, #73b8db, #4393bb); background-image: linear-gradient(to bottom, #73b8db, #4393bb); background-repeat: repeat-x; border-color: #4393bb #4393bb #2f6783; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff73b8db', endColorstr='#ff4393bb', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-linkedin:hover, .btn-linkedin:focus, .btn-linkedin:active, .btn-linkedin.active, .btn-linkedin.disabled, .btn-linkedin[disabled] { color: #ffffff; background-color: #4393bb;  *background-color: #3c84a8;}
.btn-linkedin:active, .btn-linkedin.active { background-color: #367595 \9; }
.btn-google-plus { color: #000; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #d34332;  *background-color: #c53727;
background-image: -moz-linear-gradient(top, #dd4b39, #c53727); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4b39), to(#c53727)); background-image: -webkit-linear-gradient(top, #dd4b39, #c53727); background-image: -o-linear-gradient(top, #dd4b39, #c53727); background-image: linear-gradient(to bottom, #dd4b39, #c53727); background-repeat: repeat-x; border-color: #c53727 #c53727 #85251a; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd4b39', endColorstr='#ffc53727', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-google-plus:hover, .btn-google-plus:focus, .btn-google-plus:active, .btn-google-plus.active, .btn-google-plus.disabled, .btn-google-plus[disabled] { color: #ffffff; background-color: #c53727;  *background-color: #b03123;}
.btn-google-plus:active, .btn-google-plus.active { background-color: #9a2b1f \9; }
.btn-instagram { color: #000; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #5c88ab;  *background-color: #3f729b;
background-image: -moz-linear-gradient(top, #6f97b6, #3f729b); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6f97b6), to(#3f729b)); background-image: -webkit-linear-gradient(top, #6f97b6, #3f729b); background-image: -o-linear-gradient(top, #6f97b6, #3f729b); background-image: linear-gradient(to bottom, #6f97b6, #3f729b); background-repeat: repeat-x; border-color: #3f729b #3f729b #294a65; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6f97b6', endColorstr='#ff3f729b', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-instagram:hover, .btn-instagram:focus, .btn-instagram:active, .btn-instagram.active, .btn-instagram.disabled, .btn-instagram[disabled] { color: #ffffff; background-color: #3f729b;  *background-color: #386589;}
.btn-instagram:active, .btn-instagram.active { background-color: #305777 \9; }
.btn-dropbox { color: #000; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #2e95e0;  *background-color: #2181cf;
background-image: -moz-linear-gradient(top, #37a3eb, #2181cf); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#37a3eb), to(#2181cf)); background-image: -webkit-linear-gradient(top, #37a3eb, #2181cf); background-image: -o-linear-gradient(top, #37a3eb, #2181cf); background-image: linear-gradient(to bottom, #37a3eb, #2181cf); background-repeat: repeat-x; border-color: #2181cf #2181cf #16588d; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff37a3eb', endColorstr='#ff2181cf', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-dropbox:hover, .btn-dropbox:focus, .btn-dropbox:active, .btn-dropbox.active, .btn-dropbox.disabled, .btn-dropbox[disabled] { color: #ffffff; background-color: #2181cf;  *background-color: #1d73b9;}
.btn-dropbox:active, .btn-dropbox.active { background-color: #1a66a3 \9; }
.btn-bitbucket { color: #000; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #285991;  *background-color: #205081;
background-image: -moz-linear-gradient(top, #2d5f9c, #205081); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d5f9c), to(#205081)); background-image: -webkit-linear-gradient(top, #2d5f9c, #205081); background-image: -o-linear-gradient(top, #2d5f9c, #205081); background-image: linear-gradient(to bottom, #2d5f9c, #205081); background-repeat: repeat-x; border-color: #205081 #205081 #112a44; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2d5f9c', endColorstr='#ff205081', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-bitbucket:hover, .btn-bitbucket:focus, .btn-bitbucket:active, .btn-bitbucket.active, .btn-bitbucket.disabled, .btn-bitbucket[disabled] { color: #ffffff; background-color: #205081;  *background-color: #1b436d;}
.btn-bitbucket:active, .btn-bitbucket.active { background-color: #163758 \9; }
.btn-dribbble { color: #000; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #de447f;  *background-color: #cb396f;
background-image: -moz-linear-gradient(top, #ea4c89, #cb396f); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ea4c89), to(#cb396f)); background-image: -webkit-linear-gradient(top, #ea4c89, #cb396f); background-image: -o-linear-gradient(top, #ea4c89, #cb396f); background-image: linear-gradient(to bottom, #ea4c89, #cb396f); background-repeat: repeat-x; border-color: #cb396f #cb396f #91264e; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffea4c89', endColorstr='#ffcb396f', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-dribbble:hover, .btn-dribbble:focus, .btn-dribbble:active, .btn-dribbble.active, .btn-dribbble.disabled, .btn-dribbble[disabled] { color: #ffffff; background-color: #cb396f;  *background-color: #ba3163;}
.btn-dribbble:active, .btn-dribbble.active { background-color: #a62b59 \9; }
.btn-flickr { color: #000; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #f63198;  *background-color: #ff0084;
background-image: -moz-linear-gradient(top, #f051a5, #ff0084); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f051a5), to(#ff0084)); background-image: -webkit-linear-gradient(top, #f051a5, #ff0084); background-image: -o-linear-gradient(top, #f051a5, #ff0084); background-image: linear-gradient(to bottom, #f051a5, #ff0084); background-repeat: repeat-x; border-color: #ff0084 #ff0084 #b3005c; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff051a5', endColorstr='#ffff0084', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-flickr:hover, .btn-flickr:focus, .btn-flickr:active, .btn-flickr.active, .btn-flickr.disabled, .btn-flickr[disabled] { color: #ffffff; background-color: #ff0084;  *background-color: #e60077;}
.btn-flickr:active, .btn-flickr.active { background-color: #cc006a \9; }
.btn-foursquare { color: #000; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #079dcd;  *background-color: #0072b1;
background-image: -moz-linear-gradient(top, #0cbadf, #0072b1); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0cbadf), to(#0072b1)); background-image: -webkit-linear-gradient(top, #0cbadf, #0072b1); background-image: -o-linear-gradient(top, #0cbadf, #0072b1); background-image: linear-gradient(to bottom, #0cbadf, #0072b1); background-repeat: repeat-x; border-color: #0072b1 #0072b1 #004165; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0cbadf', endColorstr='#ff0072b1', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-foursquare:hover, .btn-foursquare:focus, .btn-foursquare:active, .btn-foursquare.active, .btn-foursquare.disabled, .btn-foursquare[disabled] { color: #ffffff; background-color: #0072b1;  *background-color: #006298;}
.btn-foursquare:active, .btn-foursquare.active { background-color: #00517e \9; }
.btn-renren { color: #000; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #3773ab;  *background-color: #33669a;
background-image: -moz-linear-gradient(top, #397cb6, #33669a); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#397cb6), to(#33669a)); background-image: -webkit-linear-gradient(top, #397cb6, #33669a); background-image: -o-linear-gradient(top, #397cb6, #33669a); background-image: linear-gradient(to bottom, #397cb6, #33669a); background-repeat: repeat-x; border-color: #33669a #33669a #204061; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff397cb6', endColorstr='#ff33669a', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-renren:hover, .btn-renren:focus, .btn-renren:active, .btn-renren.active, .btn-renren.disabled, .btn-renren[disabled] { color: #ffffff; background-color: #33669a;  *background-color: #2d5987;}
.btn-renren:active, .btn-renren.active { background-color: #264d74 \9; }
.btn-skype { color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #43bbe8;  *background-color: #00aff0;
background-image: -moz-linear-gradient(top, #70c3e2, #00aff0); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70c3e2), to(#00aff0)); background-image: -webkit-linear-gradient(top, #70c3e2, #00aff0); background-image: -o-linear-gradient(top, #70c3e2, #00aff0); background-image: linear-gradient(to bottom, #70c3e2, #00aff0); background-repeat: repeat-x; border-color: #00aff0 #00aff0 #0077a3; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff70c3e2', endColorstr='#ff00aff0', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-skype:hover, .btn-skype:focus, .btn-skype:active, .btn-skype.active, .btn-skype.disabled, .btn-skype[disabled] { color: #ffffff; background-color: #00aff0;  *background-color: #009cd7;}
.btn-skype:active, .btn-skype.active { background-color: #008abd \9; }
.btn-stackexchange { color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #3a70b0;  *background-color: #185397;
background-image: -moz-linear-gradient(top, #5184c1, #185397); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5184c1), to(#185397)); background-image: -webkit-linear-gradient(top, #5184c1, #185397); background-image: -o-linear-gradient(top, #5184c1, #185397); background-image: linear-gradient(to bottom, #5184c1, #185397); background-repeat: repeat-x; border-color: #185397 #185397 #0e2f55; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5184c1', endColorstr='#ff185397', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-stackexchange:hover, .btn-stackexchange:focus, .btn-stackexchange:active, .btn-stackexchange.active, .btn-stackexchange.disabled, .btn-stackexchange[disabled] { color: #ffffff; background-color: #185397;  *background-color: #154781;}
.btn-stackexchange:active, .btn-stackexchange.active { background-color: #113b6b \9; }
.btn-trello { color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #438ab4;  *background-color: #27709b;
background-image: -moz-linear-gradient(top, #569cc4, #27709b); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#569cc4), to(#27709b)); background-image: -webkit-linear-gradient(top, #569cc4, #27709b); background-image: -o-linear-gradient(top, #569cc4, #27709b); background-image: linear-gradient(to bottom, #569cc4, #27709b); background-repeat: repeat-x; border-color: #27709b #27709b #18445e; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff569cc4', endColorstr='#ff27709b', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-trello:hover, .btn-trello:focus, .btn-trello:active, .btn-trello.active, .btn-trello.disabled, .btn-trello[disabled] { color: #ffffff; background-color: #27709b;  *background-color: #226187;}
.btn-trello:active, .btn-trello.active { background-color: #1d5372 \9; }
.btn-tumblr { color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #34526e;  *background-color: #2a4763;
background-image: -moz-linear-gradient(top, #3a5976, #2a4763); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3a5976), to(#2a4763)); background-image: -webkit-linear-gradient(top, #3a5976, #2a4763); background-image: -o-linear-gradient(top, #3a5976, #2a4763); background-image: linear-gradient(to bottom, #3a5976, #2a4763); background-repeat: repeat-x; border-color: #2a4763 #2a4763 #13202d; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3a5976', endColorstr='#ff2a4763', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-tumblr:hover, .btn-tumblr:focus, .btn-tumblr:active, .btn-tumblr.active, .btn-tumblr.disabled, .btn-tumblr[disabled] { color: #ffffff; background-color: #2a4763;  *background-color: #223a51;}
.btn-tumblr:active, .btn-tumblr.active { background-color: #1b2d3f \9; }
.btn-vk { color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #50739a;  *background-color: #426187;
background-image: -moz-linear-gradient(top, #5a7fa6, #426187); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5a7fa6), to(#426187)); background-image: -webkit-linear-gradient(top, #5a7fa6, #426187); background-image: -o-linear-gradient(top, #5a7fa6, #426187); background-image: linear-gradient(to bottom, #5a7fa6, #426187); background-repeat: repeat-x; border-color: #426187 #426187 #293c54; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5a7fa6', endColorstr='#ff426187', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-vk:hover, .btn-vk:focus, .btn-vk:active, .btn-vk.active, .btn-vk.disabled, .btn-vk[disabled] { color: #ffffff; background-color: #426187;  *background-color: #3a5576;}
.btn-vk:active, .btn-vk.active { background-color: #314865 \9; }
.btn-weibo { color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #f14f4f;  *background-color: #e64141;
background-image: -moz-linear-gradient(top, #f85959, #e64141); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f85959), to(#e64141)); background-image: -webkit-linear-gradient(top, #f85959, #e64141); background-image: -o-linear-gradient(top, #f85959, #e64141); background-image: linear-gradient(to bottom, #f85959, #e64141); background-repeat: repeat-x; border-color: #e64141 #e64141 #c11919; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff85959', endColorstr='#ffe64141', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-weibo:hover, .btn-weibo:focus, .btn-weibo:active, .btn-weibo.active, .btn-weibo.disabled, .btn-weibo[disabled] { color: #ffffff; background-color: #e64141;  *background-color: #e32a2a;}
.btn-weibo:active, .btn-weibo.active { background-color: #d81c1c \9; }
.btn-xing { color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #155c5d;  *background-color: #074c4d;
background-image: -moz-linear-gradient(top, #1f6768, #074c4d); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1f6768), to(#074c4d)); background-image: -webkit-linear-gradient(top, #1f6768, #074c4d); background-image: -o-linear-gradient(top, #1f6768, #074c4d); background-image: linear-gradient(to bottom, #1f6768, #074c4d); background-repeat: repeat-x; border-color: #074c4d #074c4d #010707; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1f6768', endColorstr='#ff074c4d', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-xing:hover, .btn-xing:focus, .btn-xing:active, .btn-xing.active, .btn-xing.disabled, .btn-xing[disabled] { color: #ffffff; background-color: #074c4d;  *background-color: #053536;}
.btn-xing:active, .btn-xing.active { background-color: #031e1e \9; }
.btn-youtube { color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #a72121;  *background-color: #6e0610;
background-image: -moz-linear-gradient(top, #cd332d, #6e0610); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cd332d), to(#6e0610)); background-image: -webkit-linear-gradient(top, #cd332d, #6e0610); background-image: -o-linear-gradient(top, #cd332d, #6e0610); background-image: linear-gradient(to bottom, #cd332d, #6e0610); background-repeat: repeat-x; border-color: #6e0610 #6e0610 #250205; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcd332d', endColorstr='#ff6e0610', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-youtube:hover, .btn-youtube:focus, .btn-youtube:active, .btn-youtube.active, .btn-youtube.disabled, .btn-youtube[disabled] { color: #ffffff; background-color: #6e0610;  *background-color: #56050c;}
.btn-youtube:active, .btn-youtube.active { background-color: #3e0309 \9; }
#car-search2 { padding-right:0px; }
 @media (min-width:1024px) and (max-width:1920px) {
 .sliderInner .mcBox {
background-position:center top !important;
background-size:100% !important;
}
 html body #sliderFrame #slider {
background-size:100% !important;
background-position:center top !important;
}
}



 @media (min-width:1024px) and (max-width:1440px) {
 .sliderInner .mcBox {
background-position:center top !important;
background-size:100% !important;
}
 html body #sliderFrame #slider {
background-size:100% !important;
background-position:center top !important;}
}


.als-container .als-viewport{}
.finance-spacing { padding-right:15px; }
.box-submit-detail { margin-left:35px; }
.alright { text-align:right; }
.login-wrapper form label { padding:0px 10px; }
.login-wrapper form label > label { padding:0px 10px; }
.spacing-remove { padding:0px !important; }
.als-container .als-viewport { width:820px !important; }
.contect-link { padding-top:20px; }
.table-cars-search { float:none; }
.buycar-paddings { padding-bottom:20px; text-align:center; }
.menu-padding-right h4, .social-bottom h4 { text-decoration:none; }
.menu-padding-right span { font-size:12px !important; }
html body .btn-warning { width:100%; text-align:center; }
#accordion .panel-body ul { float:none; width:100%; margin:0px !important; padding-bottom:0px !important; }
#accordion .panel-body ul li { background:url("../images/icon.jpg") no-repeat 0px 6px; padding-left:20px; padding-bottom:5px; }
#accordion .panel-heading { padding:0px; }
#accordion .panel-heading .panel-title .btn { padding-right:20px !important; }
#accordion .panel-heading .panel-title .btn i { position:absolute; right:20px; top:12px; text-align:right; padding:0px; }
html body .btn-warning:hover, html body .btn-warning:focus { outline:none; }
#accordion .panel-heading .panel-title .btn span i { position:inherit; width:30px; text-align:center; }
html body .car-model { width:100%; }
/*html body .buycar-paddings .login-content form label{ text-align:left;}*/

#accordion .panel-heading h4 a { display:block; line-height:30px; padding-left:10px; text-decoration:none; }
#accordion .panel-title { color:#656161; font-size:12px; font-family:Arial, Helvetica, sans-serif; text-decoration:none; font-weight:bold; }
#accordion .panel-body { color:#656161; font-size:12px; font-family:Arial, Helvetica, sans-serif; padding:10px; text-align:justify; border:1px solid #e3e3e3; background-color:#FFF; }
html body #accordion .panel-default { border-radius:0px; }
html body #accordion .panel { border-radius:0px; border:0px; }
html body .panel-heading { border-top-left-radius:0px; border-top-right-radius:0px; }
html body #accordion .panel-default > .panel-heading { background-image:none; background-color:#e3e3e3; border:none; }
html body #accordion .next-segment-head { padding:20px 0px; display:block; }
html body #GB_window .content { position:relative; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden; }
html body #GB_window .content iframe, .content object, .content embed { position:absolute; top:0px; left:0px; width:100% !important; height:100% !important; }
table.header { width:100% !important; }
html body #GB_window { left:13% !important; width:73%; margin-top:30px; }
html body #slider { background-size:100%; }
html body .delhi { right:0px; left:14%; top:71.4%; }
html body .bangalore { right:7%; top:71.4%; }
 @media (max-width:900px) {
html body #GB_window {left:7% !important;width:86%;}
html body #lista1 .als-next { right: 70px; }
}
 @media (max-width:768px) {html body #lista1 .als-next{right:30px !important;}}



@media (max-width:1080px) {.als-container .als-viewport { width:700px !important; }}

html body .container-fluid{ z-index:10000; }


html body #myCarousel .carousel-inner{ height:430px; }
html body #myCarousel .carousel-inner .item img{ max-width:1600px; width:100%;  margin:0px auto;}
html body #myCarousel.Carousel-inner .carousel-inner .item img{ max-height:300px; width:auto; margin:0px auto;}

@media (max-width:720px){html body #myCarousel .carousel-inner{ height:350px;} html body .delhi, html body .bangalore{ top:70%;}}
@media (max-width:640px){html body #myCarousel .carousel-inner{ height:300px;} html body #lista1 .als-next{right:60px !important;} html body .bangalore{ right:9%;}}
@media (max-width:567px){html body .carousel{ display:none;} .btn-carousel{ height:180px; margin-top:100px; border-bottom:1px solid #eee;}}
@media (max-width:568px) {	 
	html body div.overlay > div.login-wrapper {width:75%;}
	html body div.overlay > div.login-wrapper > div.login-content {padding:10px;}
	}
 @media (max-width:480px) {
	html body div.overlay > div.login-wrapper > div.login-content {padding:10px;}
	html body div.overlay > div.login-wrapper {width:93%;}
	html body .delhi, html body .bangalore{ top:68%;}
	}
@media (max-width:360px){ html body .delhi, html body .bangalore{ height:50px; width:50px;}}
@media (max-width:320px){ html body .delhi, html body .bangalore{ height:40px; width:40px;}}



html body .carousel-indicators{ z-index:1;}


html body .slider-details{ padding-top:20px;}

html body .slider-details .carousel-inner{ height: inherit !important;}

div span input{
  border:0; color:#000; font-weight:bold; text-align:center;
    
}  

.buy-car-descr{
   border:1px solid #d1dcdf; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:15px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:normal; color: #000;
 background-color: #f2f5f6; background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#c8d7dc));
 background-image: -webkit-linear-gradient(top, #f2f5f6, #c8d7dc);
 background-image: -moz-linear-gradient(top, #f2f5f6, #c8d7dc);
 background-image: -ms-linear-gradient(top, #f2f5f6, #c8d7dc);
 background-image: -o-linear-gradient(top, #f2f5f6, #c8d7dc);
 background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f5f6, endColorstr=#c8d7dc);
 margin: 5px;
 width: 100%;
}

.fixed-width{
    min-width: 90px;
}

.footer-header {
  font-size: 35px;
  font-family: 'Helvetica Neue Thin Extended',sans-serif;
  font-weight: lighter;
  text-shadow: 1px 1px 0 #000;
  letter-spacing: -2.5px;
}

.about-us-justify {
  text-align: justify;
}

/*this is related to navbar*/
ul.nav.nav-pills {
  margin-left: 125px;
}

@media (max-width:360px) {html body ul.nav.nav-pills {margin-left: 0px;}}

#list1, #list2, #list3, #list4 {
  list-style: none;
}

.car-block {
  display: block;
  border-top: 1px solid #CCC;
  padding: 20px;
  background-color: #f2f5f6;
  background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);
  border: 1px solid #d1dcdf;
  margin: 10px;
}

.offer-link {
  color: #000;
}

.offer-link:hover{color: #00b7ea;}