<div class="col-xs-6 col-sm-4 bottom-menu menu-padding-right "><ol>

 <center>  <H4 class=" menu-padding-right"  style="font-size:13px;">ABOUT US  </H4><span style="font-size:10px; color:#000;">
  <li> <a href="/homes/about_us?loc=gurgaon">Who we are </a></li>
  <li><a href="/homes/contact_us?loc=gurgaon"> Contact Us</a> </li>
  <li> <a href="/homes/faq?loc=gurgaon">FAQs</a> </li>  
  <li> <a href="/homes/associates_partners?loc=gurgaon">Associates & Parteners</a> </li>
  <li> <a href="/homes/testimonial?loc=gurgaon">Testimonial</a> </li>
  <li> <a href="/homes/home?loc=gurgaon">Home</a> </li>
  </span></center>

  </ol>
  </div>


  <div class="col-xs-6 col-sm-4 menu-padding-right"><ol>

 <center>  <H4 class=" menu-padding-right" style="font-size:13px;">PRODUCTS </H4><span style="font-size:10px; color:#000;">

 <li><a href="/homes/buy_car?loc=gurgaon"> Used Cars for Sale</a> </li>

  <li><a href="/homes/insurance?loc=gurgaon"> Auto Insurance</a></li>
  
  <li><a href="/homes/sell_car?loc=gurgaon"> Sell your car</a></li>
<li><a href="/homes/auto_finance?loc=gurgaon"> Auto Loan</a></li>
<li><a href="/homes/careers?loc=gurgaon"> Join us</a></li>
<li><a href="/homes">Landing Page </a></li>
  
  </span>

  </center>

  </ol>
  </div>