<div class="col-xs-6 col-sm-4 bottom-menu menu-padding-right ">
  <ol>

  <H4 class=" menu-padding-right footer-header">ABOUT US  </H4>
  <hr>
  <span style="font-size:10px;">
  <li> <a href="/homes/about_us?loc=bangalore">Who we are </a></li>
  <li><a href="/homes/contact_us?loc=bangalore"> Contact Us</a> </li>
  <li> <a href="/homes/faq?loc=bangalore">FAQs</a> </li>  
  <li> <a href="/homes/associates_partners?loc=bangalore">Associates & Parteners</a> </li>
  <li> <a href="/homes/testimonial?loc=bangalore">Testimonial</a> </li>
  <li> <a href="/homes/home?loc=bangalore">Home</a> </li>
  </span>

  </ol>
  </div>


  <div class="col-xs-6 col-sm-4 menu-padding-right">
      

    <ol>

  <H4 class=" menu-padding-right footer-header">PRODUCTS </H4><span style="font-size:10px;">
 <hr>
 <li><a href="/homes/buy_car?loc=bangalore"> Used Cars for Sale</a> </li>

  <li><a href="/homes/insurance?loc=bangalore"> Auto Insurance</a></li>
  
  <li><a href="/homes/sell_car?loc=bangalore"> Sell your car</a></li>
<li><a href="/homes/auto_finance?loc=bangalore"> Auto Loan</a></li>
<li><a href="/homes/careers?loc=bangalore"> Join us</a></li>
<li><a href="/homes">Landing Page </a></li>
  
  </span>


  </ol>
  </div>