<div class="row">
  <div class="col-xs-9"></div>
</div> 

<div class="row">

  <% if params[:loc] == "gurgaon" %>
    <%= render :partial => "layouts/footer_link_delhi" %>
  <% elsif params[:loc] == "bangalore" %>
    <%= render :partial => "layouts/footer_link_bangalore" %>
  <% end %>



  <div class="clearfix visible-xs-block  "></div>

  <div class="col-xs-12 col-sm-4 bottom-menu1 social-bottom "><center> <H4  style="font-size:13px;" class="join-align" >JOIN ON US </H4>

      <table cellpadding="5" cellspacing="5">

        <tr>

          <th class="menu-padding font-size" ><i class="fa fa-twitter btn1 btn-twitter "></i></th>

          <th class="menu-padding font-size"><a href=" https://plus.google.com/app/basic/106338495929548322721" ><i class="fa fa-google-plus btn1 btn-google-plus "></i></a></th>

          <th class="menu-padding font-size"> <i class="fa  fa-facebook btn1 btn-facebook "></i></th>

          <th class="menu-padding font-size"><i class="fa fa-linkedin btn1 btn-linkedin "></i></th>

          <th class="menu-padding font-size"><a href=" http://www.pinterest.com/go4usedcars/"><i class="fa fa-pinterest btn1 btn-pinterest "></i></a></th>

        </tr>
</table>
      <table class="tble-margin" >
        <tr>
          <th class="th-btn-width" >
          <%= link_to "Dealer Login", user_session_path, :class => "btn-bottom-right" %>
          </th>
        </tr>
</table>

      
    </center> 

 
  </div>
 
    
  

</div>

<div class="row menu-color">

  <ul class=" nav-pills ">




    <li class="menu-padding  " >Copyright © 2014 Go4usedcars. All Rights Reserved.</li><li class="menu-padding" >|</li>

    <li class="menu-padding  " ><a href="">AVANI DIMS</a></li><li class="menu-padding" ></li>

  </ul>

</div>
<style>
  .th-btn-width{ width: 100%;}
  .btn-bottom-right{
    width: 100%;
    padding: 9px 101px 13px;
    border-radius: 4px;
    color: #fff;
    background-color: #49c0f0; background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
 background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
  }
  .btn-bottom-right:hover{
    background-color: #1ab0ec; background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
 background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#1a92c2);
  }


  @media screen and (max-width: 320px){
 
  .tble-margin{
    margin:20px;
  }
  .btn-bottom-right{
   
    padding: 9px 65px;
    
  }
  }
  @media screen and (min-width:321px) and (max-width: 950px){
 
  .tble-margin{
    margin-bottom:10px;
    
  }
  
  .btn-bottom-right{
   
    padding: 9px 67px;
    
  }
  }
 
</style>