<nav class="navbar navbar-inverse" role="navigation"  >
  <a href="#" id="pull" style="font-size:20px; vertical-align:middle; margin-top:20px; text-align:center;">Menu</a>
<ul class="nav nav-pills float-left">
  <% if params[:loc] == "gurgaon" %>
    <li ><a href="/homes/home?loc=gurgaon">Home</a></li>
  	<li><a href="/homes/about_us?loc=gurgaon" >About Us</a></li>
	  <li><a href="/homes/buy_car?loc=gurgaon">Buy Cars </a></li>
	  <li><a href="/homes/sell_car?loc=gurgaon">Sell Cars </a></li>
	  <li><a href="/homes/auto_finance?loc=gurgaon">Auto Finance </a></li>
	  <li><a href="/homes/insurance?loc=gurgaon">Insurance</a></li>
  <% elsif params[:loc] == "bangalore" %>
  	<li ><a href="/homes/home?loc=bangalore">Home</a></li>
	  <li><a href="/homes/about_us?loc=bangalore" >About Us</a></li>
	  <li><a href="/homes/buy_car?loc=bangalore">Buy Cars </a></li>
	  <li><a href="/homes/sell_car?loc=bangalore">Sell Cars </a></li>
	  <li><a href="/homes/auto_finance?loc=bangalore">Auto Finance </a></li>
	  <li><a href="/homes/insurance?loc=bangalore">Insurance</a></li>
  <% end %>
</ul>
</nav>

<style>
.float-left{float: left;}
</style>