<ol class="breadcrumb">

    <li class="active">Blr Show Room <span class="opening-text">Opening Hours:</span>10am to 6pm(Sundays Off)</li>

    <li class="bredcrumb-text">24Hr.Helpline: <span class="skype-color"><i class="fa fa-skype"></i>+91-981186-2121    </span>  </li>                  

  </ol>

<div class="container-fluid">

    <div class="row">

      <div class="col-xs-4 col-sm-4 box-prestige"><a href="index.html"><img src="/assets/image.png" height="160" width="266" class="img-responsive logo-responsive1" ></a></div>

      <div class="col-xs-4 col-sm-4 box-logo"><a href="home.php"><img src="/assets/logo.png"height="120" width="120" class="img-responsive logo-responsive2"  ></a></div>



      

      <div class="col-xs-4 col-sm-4 box-social-icon">

        <ul class="nav-pills top-menu " >

          <li class="menu-padding"><a href="faq1.php">FAQ</a> </li><li class="menu-padding">  |</li>

                    <li class="menu-padding"><a href="testimonial1.php">Testimonial</a> </li> <li class="menu-padding">|</li>

                    <li class="menu-padding"><a href="careers1.php">Join Us</a> </li> <li class="menu-padding">|</li>

                    <li class="menu-padding"><a href="contact-us1.html">Contact Us</a> </li>

        </ul>

                

                

           <table cellpadding="5" cellspacing="5" class="social-top">

              <tr>

                  <th class="menu-padding font-size" ><i class="fa fa-twitter btn1 btn-twitter "></i></th>

                  <th class="menu-padding font-size"><a href=" https://plus.google.com/app/basic/106338495929548322721" ><i class="fa fa-google-plus btn1 btn-google-plus "></i></a></th>

                  <th class="menu-padding font-size"> <i class="fa  fa-facebook btn1 btn-facebook "></i></th>

                  <th class="menu-padding font-size"><i class="fa fa-linkedin btn1 btn-linkedin "></i></th>

                  <th class="menu-padding font-size"><a href=" http://www.pinterest.com/go4usedcars/"><i class="fa fa-pinterest btn1 btn-pinterest "></i></a></th>

                </tr>

             </table>

           </div>

           <div class="col-xs-4 ol-sm-4 search-responsive">   

                <table cellpadding="5" cellspacing="5">

                  <th><img src="/assets/convertible.png" class="search-img-responsive " height="30" width="70"/></th>

               <th><?php require_once('search_header.php');?></th>

        </table>

               </div>

      </div>

    </div>