<nav class="navbar navbar-inverse" role="navigation"  >

<a href="#" id="pull" style="font-size:20px; vertical-align:middle; margin-top:20px; text-align:center;">Menu</a>

<ul class="nav nav-pills">

  <li ><a href="home.php">Home</a></li>

  <li><a href="about-us1.html" >About Us</a></li>

  <li><a href="buy-cars1.php?loc=bangalore">Buy Cars </a></li>

  <li><a href="sellacar1.php">Sell Cars </a></li>

  <li><a href="auto-finance1.php">Auto Finance </a></li>

  <li><a href="Insurance1.php">Insurance</a></li>
  
</ul>

</nav>