<tr>

  <th class="menu-padding font-size" ><a href="https://twitter.com/go4usedcars1" ><i class="fa fa-twitter btn1 btn-twitter "></i></th>

  <th class="menu-padding font-size"><a href="https://plus.google.com/app/basic/106338495929548322721" ><i class="fa fa-google-plus btn1 btn-google-plus "></i></a></th>

  <th class="menu-padding font-size"><a href="https://www.facebook.com/Go4usedcars"><i class="fa fa-facebook btn1 btn-facebook "></i></a></th>

  <th class="menu-padding font-size"><a href="https://www.linkedin.com/company/prestige-autoworld"><i class="fa fa-linkedin btn1 btn-linkedin "></i></a></th>

  <th class="menu-padding font-size"><a href=" http://www.pinterest.com/go4usedcars/"><i class="fa fa-pinterest btn1 btn-pinterest "></i></a></th>

</tr>